<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <iframe
            width="560"
            height="315"
            id="embed-player"
            allow="autoplay; encrypted-media; picture-in-picture;"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen=""
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
            src="https://goatembed.com/Uy9duYTj?version=1"
        ></iframe>
    </body>
</html>
